#body-header {
background-image: url("../images/theme.png");
height: auto;
width: auto;
background-position: cover;
background-attachment: fixed;
/*border: 2px solid red;*/
}

li{
	text-decoration: none;
	display: inline-block;
	padding-right: 1vw;
	font-family: 'roboto';
	color: whitesmoke;
	font-size: 2vh;
}

a:link{
  color: white;
  background-color: transparent;
  text-decoration: none;
}

a:visited{
  color: white;
  background-color: transparent;
  text-decoration: none;
}

a:hover{
  color: #fe3e4c;
  background-color: transparent;
  text-decoration: none;
}

header{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	align-items: center;
}

main{
	text-align: center;
	font-size: 2vw;
	height: auto;
	color:  #F9F6EE;
padding-top: 1vw;
padding-bottom: 0.2vw;
}


main h1:hover{
	color: 	white;
}

.sems ul li a{
	font-size: 2vh;
	letter-spacing: 0.25vw;
	color: black;
}

table, th, td {
  border: 2px solid black;
  border-collapse: collapse;
}

th, td {
  border-color: #064c56;
}

body{
	background-color: #F9F6EE;
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
}

  main h1{

	margin-top: 0.5vw;
  }